# Bibiothek Pandas

Die Python-Bibliothek Pandas dient zur Auswertung von großen Datenmengen. Um die Bibliothek kennenzulernen, beschränken wir uns jedoch zunächst auf eine gut überschaubare Menge an Daten und erzeugen ein so genanntes **pandas.DataFrame**. Zur Kontrolle lassen wird dieses anschließend ausgeben:

In [ ]:
import pandas as pd
# Erzeuge ein DataFrame aus einem Pyton-Dictonary und verwende die Spalte "Name" als Index
getraenke = pd.DataFrame({'Name': ['Ada', 'Grace', 'Alan',
                                   'Dorothy', 'Grace', 'Alan',
                                   'Alan', 'Grace', 'Ada'],
                          'Wasser': [3, 1, 2, 4, 2, 2, 3, 1, 3],
                          'Kaffee': [1, 4, 2, 0, 3, 0, 3, 3, 0],
                          'Tee':    [2, 1, 1, 0, 3, 0, 1, 1, 4],
                          'Cola':   [2, 1, 2, 1, 2, 1, 2, 2, 0],
                          'Limo':   [0, 0, 1, 0, 1, 0, 2, 1, 2],
                         }).set_index('Name')
getraenke

Bei einem DataFrame handelt es sich also also um Daten, die in einer Tabelle angeordnet sind. In unsrem Beispiel sollen die Zeilen einzelne Wochen repräsentieren zusammen mit der Angabe, wie viele Getraenke die einzelnen Personen im Laufe dieser Woche getrunken haben.

## Summen und Mittelwerte
Um einen ersten Überblick über die Daten zu bekommen, bilden wir zunächst einmal Summen und Mittelwerte über alle Getränke, die konsumiert worden sind:

In [ ]:
getraenke.sum()

In [ ]:
getraenke.sum().sum()

In [ ]:
getraenke.mean()

## Extrahieren von Zeilen
Nun interessiert uns, wie viele Getraenke Grace und Dorothy zu sich genommen hab. Dazu können wir einzelne Zeilen des DataFrames wie folgt extrahieren und anschließend Summen über die Teiltabelle bilden:

In [ ]:
getraenke.loc['Grace']

In [ ]:
getraenke.loc[['Grace','Dorothy']]

In [ ]:
getraenke.loc['Grace'].sum()

In [ ]:
getraenke.loc['Grace'].sum().sum()

## Extrahieren von Spalten
Spalten können wir wie folgt extrahieren, um zu sehen, wie viele Getränke einer Sorte insgesamt konsumiert worden sind:

In [ ]:
getraenke['Wasser']

In [ ]:
getraenke[['Kaffee','Tee']]

## Teiltabellen
Nun interessiert auch uns, wie viel Tee oder Kaffe durch die beiden Personen Ada oder Alan konsumiert wurden. Dazu können wir wie folgt eine Teiltabelle extraheiren:

In [ ]:
getraenke.loc[['Ada','Alan']] [['Tee','Kaffee']]

## Aufgabe 1
Was ist das Lieblingsgetränk von Alan?

In [ ]:
# Lösung Aufgabe 1

## Aufgabe 2
Wie viele Getraenke jeder Sorte haben Ada und Grace zusammen konsumiert? Wie viele Getraenke waren das insgesamt?

In [ ]:
# Lösung Aufgabe 2

# Groupby
Oft ist die Funktion **pandas.DataFrame.groupby** sehr nützlich. Wir schauen uns ihr Funktionsweise anhand eines Beipsiel an:

In [ ]:
getraenke.groupby('Name')

Groupby liefert also ein DataFrameGroupBy-Objekt zurück. Um zu verstehen, wie dieses verwendet werden kann, speichern wir es zunächst in der Variable **grouped** ab:

In [ ]:
grouped = getraenke.groupby('Name')

Anschließend können wir wir folgt über das DataFrameGroupBy-Objekt iterieren:

In [ ]:
for name, obj in grouped:
    print(f"===== {name} =====")
    print(obj)

Über DataFrameGroupBy-Objekt können auch Summen und Mittelwerte gebildet werden:

In [ ]:
getraenke.groupby('Name').sum()

In [ ]:
getraenke.groupby('Name').mean()

### Aufgabe 3
Halte deine Beobachtungen fest, indem du knapp aber präzsise notierst, wozu die Funktion **groupby**
verwendet wird.